*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    width: 400px;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c06c9d, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c06c8c, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: aliceblue;
    box-shadow: 7px 13px 37px #000;
    
}

.titulo{
    color: aliceblue;
    font-size: 22px;
    margin-bottom: 20px;
}

.checkForm{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
}

.checkForm2{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 16px;
}

